.aisle_header {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    margin-top: 2%;
    margin-left: 7%;
}

.aisle .product_body {
    margin: 1rem 5rem;
    padding: 1rem;
}

.aisle .products_grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    list-style-type: none;
    margin: 2rem;
}

.aisle .product_layout {
    display: block;
    width: auto;
    height: auto;
    font-family: Arial;
    font-size: 1rem;
    padding: 1.5rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}

.aisle .store_details {
    font-family: Arial;
    font-size: 1rem;
    height: 20%;
}

.aisle .store_name {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.aisle .store_phone {
    text-align: left;
    padding-bottom: 0.5rem;
}

.aisle .store_address {
    text-align: left;
    padding-bottom: 0.5rem;
}

.aisle .store_distance {
    text-align: left;
    padding-bottom: 0.5rem;
}

.aisle .product_image_container {
    align-items: center;
    justify-content: center;
}

.aisle .product_image {
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
}

.aisle .product_name {
    padding: 0.4rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.aisle .product_details {
    padding-bottom: 0.5rem;
}

.aisle .product_type {
    padding-bottom: 0.5rem;
    text-align: left;
}

.aisle .product_price {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    text-align: left;
}

.aisle .product_quantity {
    text-align: left;
    padding-bottom: 0.5rem;
}

.aisle Button.add_to_cart_button {
    /* display: flex; */
    margin-right: 0;
    text-align: center;
    font-family: Arial;
    font-size: 0.8rem;
    height: 2.5rem;
    width: 100%;
}

.aisle Button {
    /* font-size: 10px; */
    font-size: 0.6rem;
    font-weight: bold;
}

.aisle Button.back_to_store {
    font-family: Arial;
    font-weight: 600;
    font-size: 0.8rem;
    height: 3rem;
    width: 10%;
    margin-bottom: 0.5rem;
}

.addtocart_div {
    display: flex;
    align-items: center;
    height: 1rem;
    margin: 1rem 0.5rem;
}

.addtocart_div .quantity_input {
    font-family: "Arial";
    font-weight: 600;
    text-align: center;
    width: 20%;
    height: 2rem;
    margin-left: 5%;
}

.aisle .rating_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating_container .rating_box {
    border-color: transparent;
    height: 2rem;
}

.rating_container .total_review{
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}
