.cart .product_body {
    margin: 1rem 5rem;
    padding: 1rem;
}

.cart .products_grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    list-style-type: none;
    margin: 2rem;
}

.cart .product_layout {
    display: block;
    width: auto;
    height: auto;
    font-family: Arial;
    font-size: 1rem;
    padding: 1.5rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
}

.cart .store_details {
    font-family: Arial;
    font-size: 1rem;
}

.cart .store_name {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.cart .store_phone {
    text-align: left;
    padding-bottom: 0.5rem;
}

.cart .store_address {
    text-align: left;
    padding-bottom: 0.5rem;
}

.cart .store_distance {
    text-align: left;
    padding-bottom: 0.5rem;
}

.cart .product_image_container {
    align-items: center;
    justify-content: center;
}

.cart .product_image {
    min-height: 150px;
    max-height: 150px;
    min-width: 150px;
    max-width: 150px;
}

.cart .product_name {
    padding: 0.4rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.cart .product_details {
}

.cart .product_type {
    padding-bottom: 0.5rem;
    text-align: left;
}

.cart .product_price {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    text-align: left;
}

.cart .product_quantity {
    text-align: left;
    padding-bottom: 0.5rem;
    display:flex
}

.cart Button.add_to_cart_button {
    /* display: flex;
    justify-content: flex-end; */
    /* flex:1; */
    height:2.5rem;
    width: 50%;
}

.cart Button.clear_cart_button {
    /* display: flex; */
    /* margin-left: auto;
    margin-right: 2rem; */
    font-family: Arial;
    font-weight: 600;
    font-size: 0.8rem;
    height: 3rem;
    width: 80%;
    /* margin-bottom: 0.5rem; */
}

.cart Button.checkout_button {
    /* display: flex; */
    /* margin-left: auto; */
    font-family: Arial;
    font-weight: 600;
    font-size: 0.8rem;
    height: 3rem;
    width: 80%;
    /* margin-bottom: 0.5rem; */
}


.cart Button.back_to_stores_button {
    font-family: Arial;
    font-weight: 600;
    font-size: 0.8rem;
    height: 3rem;
    width: 80%;
    /* margin-bottom: 0.5rem; */
}
.button_div{
    width: 100%;
}
.buttons{
    display: flex;
    align-items: center;
    height: 1rem;
    justify-content: left;
    margin: 1rem 0.5rem;
    width: 100%;
}
.button_item{
    padding: 1rem;
}
.menu_buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    /* padding: 0 10%; */
}
.quantity_input{
    width: 50%;
    margin:0 15px;
}

.empty_cart_container .empty_cart {
    font-family: Arial;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0.5rem;
}

.empty_cart_container Button.back_to_store {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.cart .remove_button {
    display: flex;
    margin-left: auto;
    text-decoration: underline;
}
