.checkout_header {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    margin-left: 10%;
    margin-top: 1%;
}

.shipping_address_and_checkout_details_flex_container {
    display: flex;
}

.shipping_address_container {
    width: 55%;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-left: 10%;
}

.shipping_address_container .shipping_address_flexbox_1 {
    display: flex;
}

.shipping_address_flexbox_1 .name {
    margin-left: 5%;
    margin-top: 1%;
    font-size: 1.5rem;
    font-weight: 600;
}

.shipping_address_flexbox_1 .change_button {
    margin-left: auto;
    text-decoration: underline;
}

.shipping_address_form {
    margin-left: 34%;
}

.address_list {
    list-style: none;
}

.address_radio_button {
    display: flex;
}

.shipping_address_input {
    margin: 0.3rem;
    width: 2%;
    height: 1.5rem;
}

.shipping_address_form .address_text {
    display: flex;
}

.shipping_address_label {
    text-align: left;
    font-size: 1.5rem;
}

.shipping_address_container .street {
    text-align: left;
    margin-left: 40%;
    font-size: 1.4rem;
}

.shipping_address_container .city {
    text-align: left;
    margin-left: 40%;
    font-size: 1.4rem;
}

.shipping_address_container .zip_and_city {
    text-align: left;
    margin-left: 40%;
    font-size: 1.4rem;
}

.shipping_address_flexbox_1 .shipping_heading {
    width: 30%;
    text-align: center;
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1%;
    justify-content: left;
}

.shipping_address_container .delivery_option {
    display: flex;
    margin-top: 2%;
}

.delivery_option .delivery_option_header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 3%;
}

.delivery_option .delivery_option_radio_buttons_container {
    margin-left: 10.5%;
}

.delivery_option_radio_buttons_container .delivery_option_radio_button {
    text-align: left;
    font-size: 1.5rem;
}

.checkout_details_flex_container {
    display: flex;
    width: 50%;
}

.payment_info_flex_container {
    display: flex;
}

.payment_info_flex_container .payment_info_container {
    width: 55%;
    margin-top: 2%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-left: 10%;
}

.payment_info_body_flexbox {
    display: flex;
}

.payment_info_body_flexbox .payment_header {
    width: 30%;
    text-align: center;
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    justify-content: left;
}

.payment_info_body_flexbox .cc_number_textfield {
    margin: 0.2rem;
    width: 20%;
}

.payment_info_body_flexbox .cc_name_textfield {
    margin: 0.2rem;
    width: 15%;
}

.payment_info_body_flexbox .cc_cvv_number_textfield {
    margin: 0.2rem;
    width: 5%;
}

.payment_info_body_flexbox Button.change_button {
    margin-left: auto;
    text-decoration: underline;
}

.payment_info_container .billing_address_flexbox {
    display: flex;
    margin-left: 31%;
    margin-bottom: 1%;
}

.payment_info_container .expiration_date {
    margin: 0.2rem;
    font-size: 1.3rem;
    align-self: center;
}

.payment_info_container .month_select {
    margin: 0.4rem;
    height: 2rem;
    align-self: center;
}

.payment_info_container .year_select {
    margin: 0.4rem;
    height: 2rem;
    align-self: center;
}

.billing_address_flexbox .billing_address_text {
    font-weight: 600;
}

.billing_address_flexbox .billing_address_body {
    margin-left: 0.4rem;
}

.review_items_subheading {
    text-align: left;
    margin-left: 11.5%;
    font-family: Arial;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2%;
}

.checkout .products_flex_container {
    display: flex;
}

.checkout .products_container {
    height: auto;
    width: 55%;
    margin-left: 10%;
    margin-right: 10%;
}

.checkout .product_layout {
    display: block;
    width: 100%;
    font-family: Arial;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-bottom: 0.5rem;
}

.product_details_flexbox1 {
    display: flex;
    margin: 0.5rem;
}

.product_details_price {
    margin-left: auto;
}

.checkout .product_image {
    min-height: 8em;
    max-height: 8em;
    min-width: 8em;
    max-width: 8em;
    margin: 0.5rem;
}

.checkout .product_details_name_type {
    padding: 0.5rem;
    width: 25%;
}

.checkout .product_name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.checkout .product_type {
    font-size: 1rem;
    text-align: left;
}

.checkout .product_price {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    width: 100%;
}

.checkout .product_details_quantity {
    display: flex;
}

.checkout .product_quantity {
    display: inline-flex;
    width: 100%;
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 0.5rem;
}

.checkout .quantity_input {
    height: 2rem;
    width: 2.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

.checkout .quantity_save_button {
    height: 2rem;
    margin-top: 0.5rem;
}

.checkout .store_flexbox {
    display: flex;
    margin: 0.5rem;
}

.checkout .store_details {
    margin: 1rem;
    font-family: Arial;
    font-size: 1rem;
}

.checkout .store_name {
    text-align: left;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.checkout .store_phone {
    text-align: left;
    padding-bottom: 0.5rem;
}

.checkout .store_address {
    text-align: left;
    padding-bottom: 0.5rem;
}

.checkout .store_distance {
    text-align: left;
}

.checkout .remove_button {
    margin-top: auto;
    margin-left: auto;
    text-decoration: underline;
}

.checkout Button.return_to_cart {
    font-size: 1.2rem;
    margin: 1rem;
}

.checkout .checkout_details_container {
    position: sticky;
    margin-top: 2%;
    font-family: "Arial";
    width: 20%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: thin;
    margin-left: auto;
    margin-right: 10%;
}

.checkout_details_container .order_summary {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0.5rem;
    text-align: left;
}

.num_of_items_box {
    display: flex;
    padding: 0.5rem;
}

.num_of_items_box .num_of_items {
    font-size: 1rem;
    text-align: left;
}

.num_of_items_box .num_of_items_num {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.subtotal_box {
    display: flex;
    padding: 0.5rem;
}

.subtotal_box .subtotal {
    font-size: 1rem;
    text-align: left;
}

.subtotal_box .subtotal_num {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.delivery_fees_box {
    display: flex;
    padding: 0.5rem;
}

.delivery_fees_box .delivery_fees {
    font-size: 1rem;
    text-align: left;
}

.delivery_fees_box .delivery_fees_num {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.tax_fees_box {
    display: flex;
    padding: 0.5rem;
    border-bottom: black;
    border-width: 0.1rem;
    border-bottom-style: solid;
}

.tax_fees_box .tax_fees {
    font-size: 1rem;
    text-align: left;
}

.tax_fees_box .tax_fees_num {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
}

.order_total_box {
    display: flex;
    padding: 1rem;
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
}

.order_total_box .order_total {
    text-align: left;
}

.order_total_box .order_total_num {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
}

Button.place_your_order {
    margin: 0.5rem;
    font-size: 1.2rem;
}
