.header {
    background-color: rgb(6, 193, 103);
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

img {
    width: 6.25em;
    height: 1.5625em;
    max-height: 1.875em;
}

.header_logo {
    background-size: 8.125em 1.5625em;
    color: #fff;
    justify-self: start;
    margin-left: 0.625em;
    margin-top: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.header_location {
    display: flex;
    align-items: center;
    padding: 0em 0.3em;
    color: white;
}

.header_search {
    display: flex;
    flex: 0.8;
    align-items: center;
    /* height:60px; */
    height: 100%;
    margin: 0px 1.25em
}

.header_searchCategory {
    height: 2.375rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    text-align: center;
}

.header_searchIcon {
    padding: 0 0.1875rem;
    width: 2.5rem !important;
    background-color: chartreuse;
    height: 2.25rem !important;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.header_submit {
    padding: 0 0.1875rem;
    width: 3.75rem;
    background-color: chartreuse;
    height: 2.25rem;
    border: 0.0625rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pinclipart.com%2Fpicdir%2Fmiddle%2F485-4851736_free-clipart-icons.png&f=1&nofb=1");
            background-size: 36px;
            background-repeat: no-repeat; */
}

.header_searchInput {
    /* padding:5px; */
    border: none;
    width: 100%;
    height: 2.25rem;
    text-align: left;
    text-indent: 3%;
    /* border-radius: 5px 0 0 5px; */
}

.header_nav {
    display: flex;
    align-items: center;
    height: 3.125rem;
    justify-content: space-evenly;
    flex: 0.2;
}

.header_link {
    text-decoration: none;
    color: white;
    padding: 0.625rem;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin: 0 0.3125rem;
}

.header_optionLine1 {
    font-size: 0.8125rem;
}

.header_optionLine2 {
    font-weight: 800;
    font-size: 0.9375rem;
}

.header_mainOption {
    display: flex;
    align-items: center;
}

.header_accountIcon {
    transform: scale(1.4);
}

.header_cart {
    display: flex;
    align-items: center;
}

.header_cartIcon {
    /* margin-top:8px;
                height:25px !important; */
    transform: scale(1.4);
    margin-right: 0.125em;
}

.header_cartCount {
    display: flex;
    flex-direction: column;
}

.header_orderIcon {
    transform: scale(1.4);
}
