.heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 25px;
}

.sign_in_heading {
    font-family: Merriweather-Regular;
    font-weight: 100;
    margin-top: 20px;
}

.login_container {
    font-family: Arial;
}

.body {
    font-family: Arial;
    font-weight: 100;
    font-size: medium;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
}

.left_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.right_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.right_column::after {
    content: "";
    background: url("../images/delivery.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh-60px);
    width: auto;
}
.left_column::after {
    content: "";
    background: url("../images/background.jpg");
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.45;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh-60px);
    width: auto;
}

.left_column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.right_column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.left_column3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.right_column3 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.local_stores_heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 40%;
}

.local_stores_body {
    font-family: Arial;
    margin-top: 1%;
    padding-bottom: 100px;
}

.drivers_heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 40%;
}

.drivers_body {
    font-family: Arial;
    margin-top: 1%;
    padding-bottom: 0px;
}

.sign_in_fields {
    align-items: center;
}

.sign_up_fields {
    padding: 15px;
}

.left_column_heading {
    font-family: Merriweather-Bold;
    text-align: center;
    margin-top: 20px;
}

.left_column_body {
    font-family: Arial;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.driver_img img {
    padding-top: 20px;
    height: 300px;
    max-height: 200%;
    width: auto;
    max-width: 200%;
}

.store_img img {
    padding-top: 20px;
    height: 300px;
    max-height: 200%;
    width: auto;
    max-width: 200%;
}
