.background {
    background: url("../images/profilebackground.jpg");
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.profile {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0px;
    box-sizing: border-box;
    padding: 5px;
}

.profile__header {
    font-size: 2rem;
}

.profile__body {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 30%;
}

.profile__columnLeft {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 30px;
    padding: 50px 50px;
    width: 100%;
    height: auto;
    border: 10px solid gray;
    box-shadow: 10px 5px 5px darkgray;
    box-sizing: border-box;
}

.profile__columnRight {
    margin: 50px 0px;
    border-radius: 30px;
    /* padding:250px 180px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 50px 50px;
    max-width: 100%;
    background-color: lightgray;
    border: 10px solid gray;
    box-shadow: 10px 5px 5px darkgray;
    box-sizing: border-box;
    width: 100%;
}

.profile__image {
    /* background-color: red; */
    /* background-image: url(../images/profile_picture.jpeg); */
    min-width: 100%;
    height: 150px;
    /*height: 300px;
    width: 300px;
    max-width: 100%;*/
}
 .profile_image img {
    min-width: 100%;
    min-height: 100%;
    /* width: auto;
    height: auto; */
    object-fit: cover;
}
.line {
    display: flex;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: space-evenly;
    width: 100%;
}

.profile__icon {
    justify-content: left;
    color: rgb(6, 193, 103);
}

.profile__block {
    padding: 10px 10px;
    width: 100%;
    display: flex;
}

.profile__editIcon {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    color: rgb(6, 193, 103);
}

.profile__link {
    text-decoration: none;
}

.add {
    cursor: pointer;
    border: transparent;
    background-color: transparent;
    color: rgb(6, 193, 103);
}

.profile__columnLeft .my_account_heading {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.line .profile__block .full_name {
    font-size: 1.5rem;
    font-weight: 500;
}

.line .profile__block .profile_name {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.line .profile__block .phone {
    font-size: 1.5rem;
    font-weight: 500;
}

.line .profile__block .profile_phone {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.line .profile__block .email {
    font-size: 1.5rem;
    font-weight: 500;
}

.line .profile__block .profile_email {
    text-align: center;
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.profile__columnRight .delivery_addresses_heading {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.profile__columnRight .profile_address {
    font-size: 1.5rem;
    text-align: left;
}

.line .profile__block__password {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.line .profile__block__password .edit_password {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.profile__body .profile__columnLeft .image__upload__label {
    color: rgb(6, 193, 103);
}

.profile__body .profile__columnLeft .upload {
    display: none;
}

.profile__body .profile__columnLeft .profile__image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    background-color: rgb(6, 193, 103);
    border-radius: 10%;
}

.profile__image__container .profile__image {
    align-self: center;
    border-radius: 50%;
    min-width: 60%;
    max-width: 60%;
    min-height: 35vh;
    max-height: 100%;
}
.profile__image__container{
    width: 100%;
}