.signup_container {
    font-family: Arial;
    align-items: center;
}
/* form {
    height:400px;
    width:200px;
} */

.signup_container::after {
    content: "";
    background: url("../images/signup-background.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: "100%";
    width: "100%";
}

.heading {
    font-family: Merriweather-Regular;
    font-weight: 700;
    margin-top: 2.5rem;
}

.body {
    margin: 1rem;
}

.signup_row {
    margin: 0.5rem;
}

.signup_row .user_text {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.signup_row .address_text {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.signup_row .signup_button {
    margin-top: 0.5rem;
}

.signup_row .already_have_an_account {
    margin: 1rem;
}